body{  
        font-family: 'Quicksand', sans-serif;
        font-size: 62.5%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
}
h1{
        font-size: 4em;
        text-align: center;
}
#containerMain{
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.moneda{
        width: 150px;
        height: 150px;
}
.botones{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.contiene__monedas{

        height: 100px;
        width: 100px;
        position: relative;
        margin: 0 auto;
        margin-top: 65px;
        transform-style: preserve-3d;
}
.contiene__monedas img{
        width: 100%;
}
.moneda__cara , .moneda__cruz{
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
}
.moneda__cara{
        transform: rotateX(180deg);
}

@keyframes girar-cara {
        0%{
                transform: rotateX(0);
        }
        100%{
                transform: rotateX(1980deg);
        }
}
@keyframes girar-cruz {
        0%{
                transform: rotateX(0);
        }
        100%{
                transform: rotateX(2160deg);
        }
}


/*  ********* BOTONES ************ */ 
#btnLanzar,  #btnReiniciar{
        font-family: 'Quicksand', sans-serif;
        font-weight: 900;
        margin: 5px 0;
        border: none;
        background-color:  #fff;
        font-size: 2em;
        background-color: coral;
        color: rgb(255, 255, 255);
        width: 150px;
        padding: 10px 0;
        border-radius: 30px;
}
#btnLanzar:hover,  #btnReiniciar:hover{
        background-color:deepskyblue;
        color: rgb(255, 255, 255);
}
/*  ********* FIN BOTONES ************ */ 
/*  ********* RESULTADOS ************ */ 
.resultados{
        width: 250px;
        display: flex;
        justify-content: center;
        text-align: center;
}
.resultados__moneda{
        font-size: 2em;
        font-weight: 700;
}
.resultados__cara{
        margin-top: 0;
        color: darkolivegreen;
        font-size: 4em;
}
.resultados__cruz{
        margin-top: 0;
        color: orchid;
        font-size: 4em;
}